* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .continer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  body {
    background-color: aqua;
  }
  
  header {
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0px;
    box-shadow: -1px 3px 10px 2px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: -1px 3px 10px 2px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: -1px 3px 10px 2px rgba(0, 0, 0, 0.37);
  }
  
  .header__continer {
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    z-index: 30;
  }
  .header__continer .logo1 {
    width: 122px;
    height: 55px;
    cursor: pointer;
  }
  .header__continer ul li {
    display: inline-block;
    cursor: pointer;
    margin-right: 40px;
    position: relative;
    z-index: 3;
    list-style: none;
    text-decoration: none;
  }
  .header__continer ul li a {
    position: relative;
    z-index: 3;
    text-decoration: none;
    color: #282B22;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.5s;
    line-height: 16px;
  }
  .header__continer ul li a:hover {
    color: #AE7B3C;
  }
  .header__continer .logo3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .header__continer .logo3 .ins {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-right: 10px;
    margin-right: 63px;
  }
  .header__continer .logo3 .ins:hover {
    color: #2653cf;
  }
  .header__continer .logo3 a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #3D4A39;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    transition: all 0.5s;
  }
  .header__continer .logo3 a:hover {
    color: #AE7B3C;
  }
  
  .main {
    margin-top: 95px;
    background-image: url("../image/main-bagrund.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main .under {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 1200px;
    height: 60px;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    padding-top: 35px;
    padding-bottom: 60px;
  }
  .main .under .side a {
    padding-right: 25px;
  }
  .main .under .number {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .main .under .number p {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.6);
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    position: relative;
    z-index: 0;
  }
  
  .main__continer {
    width: 537px;
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 120px;
  }
  .main__continer h1 {
    margin-left: 20px;
    display: inline-block;
    font-family: "Lato";
    font-weight: 700;
    font-size: 56px;
    line-height: 67.2px;
    text-align: center;
    color: #FFFFFF;
    width: 446px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .main__continer p {
    letter-spacing: 1.2px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    font-family: "Raleway";
    opacity: 80%;
    margin-bottom: 50px;
  }
  .main__continer button {
    width: 260px;
    height: 60px;
    background-color: #AE7B3C;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin-left: 110px;
    border-radius: 6px;
    transition: all 0.6s;
    margin-bottom: 120px;
  }
  .main__continer button:hover {
    background-color: #774d19;
  }
  
  .osnovni__continer {
    font-family: "Raleway";
    padding-top: 140px;
    padding-bottom: 140px;
  }
  .osnovni__continer h2 {
    color: #282B22;
    font-weight: 600;
    font-size: 46px;
    font-family: "Raleway";
    line-height: 57px;
    text-align: center;
    margin-bottom: 80px;
  }
  .osnovni__continer .dizayn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 29px;
  }
  .osnovni__continer .dizayn .dizayn1 {
    font-family: "Raleway";
    padding-left: 30px;
    border-left: 1px solid rgba(40, 43, 34, 0.2);
  }
  .osnovni__continer .dizayn .dizayn1 p {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    opacity: 50%;
    color: #282B22;
    margin-bottom: 60px;
  }
  .osnovni__continer .dizayn .dizayn1 span {
    color: #3D4A39;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
  }
  .osnovni__continer .dizayn .dizayn1 img {
    width: 354px;
    height: 320px;
    margin-top: 30px;
    margin-bottom: 0px;
  }
  @media screen and (max-width: 1200px) {
    .continer {
      max-width: 1000px;
      width: 100%;
      margin: 0 auto;
    
    }
    .header__continer .logo1 {
      width: 90px;
      height: 30px;
      cursor: pointer;
    }
    .header__continer ul{
        display: none;
    }
}
  @media screen and (max-width: 992px) {
    .continer {
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
     
    }
    .header__continer .logo1 {
      width: 90px;
      height: 30px;
      cursor: pointer;
    }
    .header__continer ul{
        display: none;
    }
    .header__continer .none{
      display: block;
  }

}